body {
  margin: 0;
  font-family: Inter,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fff7ed;
  color: #161616;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #161616;
}

::-webkit-scrollbar {
  background-color: #252525;
  width: 0.7rem;
}
::-webkit-scrollbar-thumb {
  background-color: #e17654;
  border-radius: 1rem;
}