.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 5rem;
  border-radius: 0.3rem;
  background-color: var(--main-color);
  color: var(--light-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--dark-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 2rem;
  width: 5rem;
  border-radius: 0.3rem;
  color: var(--light-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: white;
    color: var(--main-color);
  }
}

.btn-positive {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid dodgerblue;
  height: 2rem;
  width: 5rem;
  border-radius: 0.3rem;
  color: dodgerblue;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: dodgerblue;
    color: var(--light-color);
  }
}

.menuBar>li {
  list-style: none;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &>a {
    color: #4d4d4d;
    transition: 0.3s ease-in-out;

    &>svg {
      margin-bottom: -0.2rem;
      font-size: 1.2rem;
    }
  }

  &:hover,
  &:hover a,
  .active {
    color: var(--main-color);
  }

  &::after,
  .active::after {
    content: "";
    height: 2px;
    width: 0;
    background: var(--main-color);
    position: absolute;
    top: 1.2rem;
    left: 0;
    bottom: 0.5rem;
    transition: 0.2s ease-in-out;
  }

  &:hover::after,
  .active::after {
    width: 100%;
  }
}